extends ../layouts/layout
block content
    h1.alert.alert-primary(role='alert', style='text-align: center') Create Character
    if error
        each val in error
            .alert.alert-danger(role='alert')= val
        
    form(action="/character/create", method="post")
        .form-group
            label(for='exampleInputEmail1') Name
            input#exampleInputEmail1.form-control(type='text', name="name" value=values ? values.name : "")
        .form-group
            label(for='exampleInputEmail1') Age
            input#exampleInputEmail1.form-control(type='text', name="age" value=values ? values.age : "")
        .form-group
            label(for='exampleInputEmail1') Anime
            input#exampleInputEmail1.form-control(type='text', name="anime" value=values ? values.anime : "")    
        button.btn.btn-primary(type='submit') Create
            
