h1 List Character
a(href="/character/create", title="title")  Add character
form(action="character/search", method="get")
    input(type="text", name="q", value=valued)
    button Search
ul
    each val in characters
        li
            span= val.name
            span &nbsp; 
            a(href="/character/" + val.id) View 
    