extends ../layouts/layout
block content
    h1 View Character
    table.table.table-striped
        thead
            tr
            th(scope='col') id
            th(scope='col') Name
            th(scope='col') Age
            th(scope='col') Anime
        tbody
            tr
            th(scope='row')= character.id
            td= character.name
            td= character.age
            td= character.anime
